<ion-content>
  <img src="../../assets/logo.jpg" class="logopos"/>
    <div class="center" style="    text-align: -webkit-center;">
      <ion-card color="dark" style="color: rgb(255, 255, 255);border: 4px solid;border-radius: 0%; width: fit-content; ">
      <ion-card-header color="dark">
        <div class="centerT" >
          <h2 style="color: #C9AC7A"><strong>Register</strong></h2>
          <p  style="color: #C9AC7A">Register with My_Guide to get started</p>
        </div>
      </ion-card-header>
    
      <ion-card-content>
  
        <div class="centerC">
          <ion-input placeholder="First Name" class="primary-input" type="name"></ion-input>
          <ion-input placeholder="Last Name" class="primary-input" type="family-name"></ion-input>
          <ion-input placeholder="Username" class="primary-input" type="email"></ion-input>
          <ion-input placeholder="Phone Number" class="primary-input" type="tel"></ion-input>
          <ion-input placeholder="Password" class="primary-input" type="password"></ion-input>
          <ion-input placeholder="Confirm Password" type="password" class="primary-input"></ion-input>
        
          <p  style="color: #C9AC7A">By signing up you're agreed to our Terms & Conditions</p>
        
          <div class="ion-margin-top">
            <ion-button expand="block" href="login" color="light">SIGN UP</ion-button>
          </div>
        
          <div class="ion-margin-top ion-text-center">
            <a href="welcome" style="color: #C9AC7A">Close</a>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    </div>
    <img src="../../assets/background.jpg" class="backgroundimagepos">
   
</ion-content>
