<ion-content>
  <img src="../../assets/logo.jpg" class="logopos" />

    <ion-card color="light" class="cardprof" style="color: rgb(255, 255, 255);border: 4px solid;border-radius: 0%; width: fit-content; ">
      <ion-card-header  color=dark>
        <ion-card-subtitle style="color:aliceblue;">Formation</ion-card-subtitle>
        <ion-card-title style="font-size: large; color:aliceblue;">Nebeul</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <a href="home/aacnebeul"><img src="../../assets/nebeul.png" style="width:100px;" height="100px"></a>
      </ion-card-content>
    </ion-card>
    <ion-card color="light" class="carduniv" style="color: rgb(255, 255, 255);border: 4px solid;border-radius: 0%; width: fit-content; ">
      <ion-card-header color=dark>
        <ion-card-subtitle style="color:aliceblue;">Formation</ion-card-subtitle>
        <ion-card-title style="font-size: large; color:aliceblue;">Tunis</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <a href="home/aactunis"><img src="../../assets/tunis.png" style="width:100px;" height="100px" ></a>
      </ion-card-content>
    </ion-card>
  <img src="../../assets/background.jpg" class="backgroundimagepos">
</ion-content>
