<ion-content>
  <img src="../../assets/logo.jpg" class="logopos"/>
    <div class="center" style="    text-align: -webkit-center;">
      <ion-card color="dark" style="color: rgb(255, 255, 255);border: 4px solid;border-radius: 0%; width: fit-content; ">
      <ion-card-header>
        <div class="centerT" >
          <h1 style="color: #C9AC7A">Login</h1>
          <p  style="color: #C9AC7A">Login to your acount to persue</p>
        </div>
      </ion-card-header>
        <ion-card-content>
  
        <div class="centerC">
          <ion-input placeholder="Phone Number" class="primary-input"></ion-input>
          <ion-input placeholder="Password" class="primary-input" type="password"></ion-input>                
          <div class="ion-margin-top">
            <div class="ion-margin-top ion-text-right forget" color="white">
              <a href="forgot">Forgot Password?</a>  </div>           
            <ion-button expand="block" href="home/profil" color="light">SIGN IN</ion-button>
          </div>
        
        </div>
      </ion-card-content>
    </ion-card>
    </div>
    <img src="../../assets/background.jpg" class="backgroundimagepos">
</ion-content>