<ion-content>
  <img src="../../assets/logo.jpg" class="logopos" />
<div class="center" style="position: absolute ;">
  <ion-card color="dark" style="color: rgb(255, 255, 255);border: 4px solid;border-radius: 0%; width: fit-content; ">
    <ion-card-header color="light">
      <ion-card-title><h2 style="color:#000000;"><strong>Verify New Password</strong> </h2></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item color=dark>
        <ion-label position="fixed">Password</ion-label>
        <ion-input placeholder="enter new password" type="password"></ion-input>
      </ion-item>
      <ion-item color=dark>
        <ion-label position="fixed">Confirm Pass</ion-label>
        <ion-input placeholder="confirm new password" type="password"></ion-input>
      </ion-item>
        <div class="ion-margin-top">
            <ion-button shape="round" class="ion-margin-top"  color="light" href="login"><strong>Verify</strong></ion-button>
        </div>
    
    </ion-card-content>
  </ion-card>
</div>
<img src="../../assets/background.jpg" class="backgroundimagepos">
</ion-content>
