
<ion-content>
    <div class="logopos">
        <img src="../../assets/logo.jpg" class="logo" />
    </div>
<div class="centertext">
    <div class="title" >
        <h2 style="color:antiquewhite">Welcome</h2>
        <p style="color:antiquewhite">Please Create an acount to persue </p>
    </div>

    <div class="ion-margin-top">
        <ion-button expand="block" class="ion-margin-top" href="register" fill="outline" color="white">SIGN UP</ion-button>
        <ion-button expand="block" class="ion-margin-top" href="login" color="white">LOGIN</ion-button>
    </div>
</div>

<img src="../../assets/background.jpg" class="backgroundimagepos">
</ion-content>

